{% extends 'base.html' %}

{% block header_text %}Create crawling template{% endblock %}

{% block input %}
  <form method='POST' action={% url 'new_template' %}>
    {{ form.url }}
    <br>
    {{ form.desc }}
    <br>
    <input id='id_submit' type='submit' value='Generate crawler template' class='btn btn-default'/>
    {% csrf_token %}
    {% if form.errors %}
      <div class='form-group has-error'>
        <span class='help-block'>{{ form.url.errors }}</span>
        <span class='help-block'>{{ form.desc.errors }}</span>
      </div>
    {% endif %}
  </form>
{% endblock %}

